* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .shop {
    width: 100%;
    height: 904px;
    background: rgba(247,244,239,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .fondo_logo {
    width: 100%;
    height: 735px;
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.10000000149011612;
    position: absolute;
    top: 148px;
    left: 65px;
    overflow: hidden;
  }
  .banner {
    width: 1400px;
    height: 52px;
    background: rgba(239,234,224,1);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .Zikaron {
    width: 143px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 141px;
    font-family: Rajdhani;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .logo {
    width: 74px;
    height: 52px;
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 70px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .producto {
    width: 618px;
    height: 229px;
    background: rgba(149,142,125,1);
    opacity: 1;
    position: absolute;
    top: 127px;
    left: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .perso {
    width: 290px;
    height: 229px;
    background: rgba(149,142,125,1);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 1080px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .collar {
    width: 131px;
    height: 135px;
    background: url("../images/collar.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .pulsera_sil {
    width: 131px;
    height: 135px;
    background: url("../images/pul_sil.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 313px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .charm {
    width: 131px;
    height: 135px;
    background: url("../images/charm.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 511px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .seleccion1 {
    width: 223px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 146px;
    left: 115px;
    font-family: Mulish;
    font-weight: SemiBold Italic;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .color {
    width: 257px;
    height: 229px;
    background: rgba(149,142,125,1);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 759px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .seleccion2 {
    width: 216px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 156px;
    left: 780px;
    font-family: Mulish;
    font-weight: SemiBold Italic;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .seleccion3 {
    width: 232px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 155px;
    left: 1114px;
    font-family: Mulish;
    font-weight: SemiBold Italic;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .negro {
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 792px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  .blanco {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 863px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  .morado {
    width: 50px;
    height: 50px;
    background: rgba(142,0,255,1);
    opacity: 1;
    position: absolute;
    top: 283px;
    left: 792px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  .rojo {
    width: 50px;
    height: 50px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 283px;
    left: 863px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  .beige {
    width: 50px;
    height: 50px;
    background: rgba(205,188,170,1);
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 934px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  .verde {
    width: 50px;
    height: 50px;
    background: rgba(45,177,12,1);
    opacity: 1;
    position: absolute;
    top: 283px;
    left: 934px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  .corazonfondo {
    width: 66px;
    height: 66px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 229px;
    left: 1133px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  .signocorazon {
    width: 55px;
    height: 51px;
    background: url("../images/corazon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 1139px;
    overflow: hidden;
    border: none;
    cursor: pointer;
  }
  .letra {
    width: 88px;
    height: 66px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 231px;
    left: 1230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mulish;
    font-weight: SemiBold Italic;
    font-size: 36px;
    cursor: text;
}
  .datos1 {
    width: 523px;
    height: 435px;
    background: rgba(196,188,173,1);
    opacity: 1;
    position: absolute;
    top: 410px;
    left: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .datos2 {
    width: 414px;
    height: 362px;
    background: rgba(231,223,209,1);
    opacity: 1;
    position: absolute;
    top: 411px;
    left: 956px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .t_productos {
    width: 129px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 570px;
    left: 985px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .forms {
    width: 330px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 438px;
    left: 116px;
    font-family: Mulish;
    font-weight: SemiBold Italic;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .confirmacion {
    width: 223px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 434px;
    left: 985px;
    font-family: Mulish;
    font-weight: SemiBold Italic;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .nombre {
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 482px;
    left: 118px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .nom {
    width: 432px;
    height: 28px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 502px;
    left: 116px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .t_prod {
    width: 110px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 564px;
    left: 1139px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .costo {
    width: 104px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 619px;
    left: 985px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .costo_auto {
    width: 110px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 613px;
    left: 1139px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .t_pagar {
    width: 111px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 668px;
    left: 985px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .total_pagar {
    width: 110px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 662px;
    left: 1139px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .productos {
    width: 72px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 486px;
    left: 985px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .product_auto {
    width: 219px;
    height: 63px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 489px;
    left: 1139px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .direccion {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 662px;
    left: 118px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .dir_fill {
    width: 432px;
    height: 28px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 682px;
    left: 116px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .email {
    width: 123px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 602px;
    left: 118px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .email_fill {
    width: 432px;
    height: 28px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 622px;
    left: 116px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .phone {
    width: 58px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 542px;
    left: 118px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .phone_fill {
    width: 432px;
    height: 28px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 562px;
    left: 116px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .city {
    width: 47px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 722px;
    left: 334px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .city_fill {
    width: 216px;
    height: 28px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 742px;
    left: 332px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .codigo {
    width: 92px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 722px;
    left: 118px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .codigo_fill {
    width: 190px;
    height: 28px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 742px;
    left: 116px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .boton_confirmar1 {
    width: 126px;
    height: 28px;
    background: rgba(143,139,139,1);
    opacity: 1;
    position: absolute;
    top: 790px;
    left: 269px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,1);
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    text-align: center; 
}

.boton_confirmar2 {
    width: 126px;
    height: 28px;
    background: rgba(143,139,139,1);
    opacity: 1;
    position: absolute;
    top: 716px;
    left: 1100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: none; 
    cursor: pointer; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: rgba(255,255,255,1);
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    text-align: center; 
}

  .paypal {
    width: 103px;
    height: 30px;
    background: url("../images/paypal.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 801px;
    left: 1111px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .upload_datos {
    width: 257px;
    height: 229px;
    background: rgba(172,163,144,1);
    opacity: 1;
    position: absolute;
    top: 411px;
    left: 651px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .imagen {
    width: 216px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 439px;
    left: 672px;
    font-family: Mulish;
    font-weight: ExtraBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .upload {
    width: 130px;
    height: 130px;
    background: url("../images/upload.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 480px;
    left: 715px;
    overflow: hidden;
    border: none;
    cursor: pointer;
}
